// Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

// Variables
@import 'variables';

* {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

//Backend
#datatable {
	ul {
		padding:0;
		margin:0;

		li {
			list-style-type: none;
			display: inline-block;
		}
	}
}

p {
	font-size: 16px;
	font-weight: 400;

	strong {
		font-weight:700;
	}
}

.alert {
	ul {
		margin:0;
		padding:0;
	}

	li {
		padding:0px;
		font-size: 13px;
		list-style-type: none;
	}
}

//Frontend
.btn-hidden {
	display: none;
}

#carousel
	.img {
		background-size: cover;
		background-repeat:no-repeat;
		background-position:center;
		height: 144px;
		position:relative;
		border:2px solid #ececec;
		border-radius:10px;

		.delete {
			position:absolute;
			top:0;
			left:0;
			margin:10px;
		}
	}
}

[class*=sidebar-dark] .brand-link {
	background-color:black!important;
}

.os-content {
	background-color: #04091d;
}

.owl-front {
	.img {
	    height: 150px;
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: center;
	}
}
