@import url(https://fonts.googleapis.com/css2?family=Lato:wght@100;

300;400;700;900&display=swap);* {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

#datatable ul {
  padding: 0;
  margin: 0;
}

#datatable ul li {
  list-style-type: none;
  display: inline-block;
}

p {
  font-size: 16px;
  font-weight: 400;
}

p strong {
  font-weight: 700;
}

.alert ul {
  margin: 0;
  padding: 0;
}

.alert li {
  padding: 0px;
  font-size: 13px;
  list-style-type: none;
}

.btn-hidden {
  display: none;
}

#galleries-post .img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 166px;
  position: relative;
  border: 2px solid #ececec;
  border-radius: 10px;
}

#galleries-post .img .delete {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
}

[class*=sidebar-dark] .brand-link {
  background-color: #04091d;
}

